.item_wrapper {
    width: 33.33%;
    padding: 10px;
}

.item_content {
    display: block;
    height: 78px;
    overflow: hidden;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 2px;
    animation: flashing 0.5s ease-in-out infinite;
}

@keyframes flashing {
    0% { opacity: 0.7; }
    50% { opacity: 0.2; }
    100% { opacity: 0.7; }
}