h1 {
    font-size: var(--font-size-h1);
    line-height: 1.2;
    color: var(--color-text-main);
}

h2 {
    font-size: var(--font-size-h2);
    line-height: 1.2;
    color: var(--color-text-main);
}

p {
    font-size: var(--font-size-text);
    line-height: 1.2;
    color: var(--color-text-main);
    margin: 0;
}

img {
    max-weight: 100%;
    object-fit: cover;
}

.layout_dark h1, .layout_dark h2, .layout_dark p {
    color: var(--color-text-main-dark);
}

.h100 {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
}