:root {
    --color-background-dark: #DAAD86;
    --color-background-light: #FBEEC1;
    --color-background-white: #fafafa;
    --color-text-main: #0b0b0b;
    --color-text-main-dark: #1b1b1b;
    
    --font-size-h1: 32px;
    --font-size-h2: 26px;
    --font-size-text: 16px;
    --font-size-text-small: 14px;
}