.albums_content {
    background: var(--color-transparent-background);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.albums_content h1 {
    text-align: center;
}