.post_wrapper {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background: var(--color-background-white);
    border-radius: 10px;
}

.post_wrapper:hover {
    cursor: pointer;
}

.post_title {
    font-size: var(--font-size-text);
    font-weight: bold;
    margin-bottom: 0;
}

.post_text {
    font-size: var(--font-size-text);
    overflow: hidden;
}