.item_wrapper {
    width: 33.33%;
    padding: 10px;
}

.item_content {
    display: block;
    height: 78px;
    font-size: var(--font-size-text-small);
    color: var(--color-text-main);
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 2px;
}

.item_content:hover {
    box-shadow: var(--box-shadow-hover);
    cursor: pointer;
}

.item_content span {
    display: block;
    height: 58px;
    overflow: hidden;
}

@media (max-width: 540px) {
    .item_wrapper {
        width: 50%;
        padding: 7.5px;
    }
}