.main {
    position: sticky;
    top: 64px;
    min-width: 200px;
    width: 200px;
}

.main_content {
    padding: 15px;
    background-color: var(--color-transparent-background);
    border-right: 1px solid var(--color-border);
}

.main img {
    max-width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 540px) {
    .main {
        position: static;
        top: 0;
        min-width: 100%;
        width: 100%;
    }

    .main_content {
        border-right: 0;
        border-bottom: 1px solid var(--color-border);
    }

    .main img {
        order: 2;
        width: 50%;
        margin-bottom: 0;
    }
    
    .main article {
        order: 1;
        width: 50%;
        text-align: right;
    }
}